<?xml version="1.0"?>
<launch>
  
  <include file="$(find zed_wrapper)/launch/zed.launch"/> 
  
  <!-- Launch ground based people detection node -->
  <node pkg="yolo_detector" type="open_ptrack_yolo_detector_node"
        name="open_ptrack_yolo_detector_node" output="screen" respawn="false">
        
    <param name="depth_image_topic"                   value="/zed_head/depth/depth_registered"/>
    <param name="rgb_image_topic"                  value="/zed_head/rgb/image_rect_color"/>
    <param name="output_topic"                      value="/detector/detections"/>
    <param name="camera_info_topic"                 value="/zed_head/rgb/camera_info"/>
    <param name="thresh"                              value="0.25"/>  
    <param name="heir_thresh"                     value="0.5"/>  
    <param name="data_cfg"                   value="$(find yolo_detector)/darknet_opt/cfg/coco.data"/>
    <param name="yolo_cfg"                  value="$(find yolo_detector)/darknet_opt/cfg/yolo.cfg"/>
    <param name="weight_file"                      value="$(find yolo_detector)/darknet_opt/yolo.weights"/>
    
    <param name="root"                      value="/$(find yolo_detector)"/>

  </node>

</launch>
