<?xml version="1.0"?>
<!-- SESSION ID: 1548460272 -->
<launch>

  <arg name="enable_people_tracking" default="true" />
  <arg name="enable_pose" default="true" />
  <arg name="enable_object" default="true" />
  <arg name="sensor_name"     default="zed01" />

  <!-- true  = Munaro Based OPT Detection -->
  <!-- false = YOLO Based Detection (Must Have YOLO installed to use)-->
 <group ns="$(arg sensor_name)"> 
  <!-- Launch the sensor -->
  <include file="$(find zed_wrapper)/launch/zed.launch">
   <arg name="frame_rate"           value="100" />
   <arg name="resolution"           value="3" />
  </include>

  </group>

  <arg name="munaro_detection_enabled"         default="true" />

  <!-- Detection node -->
  <group if="$(arg enable_people_tracking)" >
          <include file="$(find detection)/launch/detector_zed.launch">
                  <arg name="sensor_name"             value="$(arg sensor_name)" />
                  <arg name="ground_from_calibration" value="true" />
    </include>
  </group>

</launch>
