<?xml version="1.0"?>
<launch>

<!--  <arg name="sensor_name1"     default="kinect_master" />-->
  <arg name="sensor_name2"     default="kinect02" />
  <arg name="sensor_name3"     default="kinect03" />

   <!-- Republish sensor point cloud after applying refinement -->
<!--  <node pkg="opt_utils" type="cloud_manual_refinement"
  name="cloud_manual_refinement_$(arg sensor_name1)" output="screen">
    <remap from="~input"        		to="/$(arg sensor_name1)/depth_ir/points" />
    <remap from="~output"       		to="/$(arg sensor_name1)/depth_ir/points_manual_refined" />
  </node>-->

  <node pkg="opt_utils" type="cloud_manual_refinement"
  name="cloud_manual_refinement_$(arg sensor_name2)" output="screen">
    <remap from="~input"        		to="/$(arg sensor_name2)/depth_ir/points" />
    <remap from="~output"       		to="/$(arg sensor_name2)/depth_ir/points_manual_refined" />
  </node>

  <node pkg="opt_utils" type="cloud_manual_refinement"
  name="cloud_manual_refinement_$(arg sensor_name3)" output="screen">
    <remap from="~input"        		to="/$(arg sensor_name3)/depth_ir/points" />
    <remap from="~output"       		to="/$(arg sensor_name3)/depth_ir/points_manual_refined" />
  </node>

</launch>


