<launch>
  <node pkg="opt_utils" type="ros2udp_converter_pose" name="ros2udp_converter_pose" output="screen">
    <remap from ="~input_topic" to="/tracker/tracks_smoothed"/>  
    <remap from ="~alive_ids_topic" to="/tracker/alive_ids"/>  
    <rosparam command="load" file="$(find opt_utils)/conf/json_udp.yaml" /> 
  </node>
  <node pkg="opt_utils" type="ros2udp_converter" name="ros2udp_converter" output="screen">
    <remap from ="~input_topic" to="/tracker/tracks_smoothed"/>
    <remap from ="~alive_ids_topic" to="/tracker/alive_ids"/>
    <remap from ="~people_tracks_topic" to="/face_recognition/people_tracks"/>
    <remap from ="~people_names_topic" to="/face_recognition/people_names"/>
    <rosparam command="load" file="$(find opt_utils)/conf/json_udp.yaml" />
  </node>
  <node pkg="opt_utils" type="ros2udp_converter_objects" name="ros2udp_converter_object" output="screen">
  <remap from ="~input_topic" to="/tracker/object_tracks_smoothed"/>
  <remap from ="~alive_ids_topic" to="/tracker/alive_ids"/>
  <rosparam command="load" file="$(find opt_utils)/conf/json_udp.yaml" />
</node>
</launch>

