<?xml version="1.0"?>
<!-- SESSION ID: 1500506803 -->
<launch>
    <arg name="enable_people_tracking" default="true" />
    <arg name="enable_pose" default="true" />
    <arg name="enable_object" default="true" />
    <arg name="sensor_name" default="realsense_head" />

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch">
        <arg name="camera" value="$(arg sensor_name)" />
    </include>

    <group if="$(arg enable_people_tracking)">
        <!-- People tracking -->
        <include file="$(find detection)/launch/detector_depth_real.launch">
            <arg name="camera_name" value="$(arg sensor_name)" />
        </include>
        <include file="$(find tracking)/launch/tracker_single.launch" />
    </group>

    <group if="$(arg enable_pose)">
        <!-- Skeleton tracking -->
        <include file="$(find detection)/skeleton_detector_realsense.launch">
            <arg name="sensor_name" value="$(arg sensor_name)" />
        </include>
        <include file="$(find tracking)/launch/skeleton_tracker_single.launch">
            <arg name="input_topic" value="/detector/skeletons" />
        </include>
        <!-- Pose recognition -->
        <include file="$(find pose_recognition)/launch/pose_recognition.launch" />
    </group>

    <group if="$(arg enable_object)">
        <!-- Object Tracking -->
        <include file="$(find detection)/detect_yolo_object_realsense_network.launch">
            <arg name="sensor_name" value="$(arg sensor_name)" />
        </include>
        <node name="multiple_objects_detection" output="screen" pkg="detection" required="true" type="multiple_objects_detection_node">
            <rosparam command="load" file="$(find detection)/conf/multiple_objects_detection.yaml" />
            <param name="set_object_names" value="true" />
        </node>
        <include file="$(find tracking)/launch/object_tracker_single.launch" />
    </group>

    <!-- UDP messaging -->
    <include file="$(find opt_utils)/launch/ros2udp_converter.launch" />
    <!-- Visualization -->
    <include file="$(find opt_utils)/launch/multicamera_visualization.launch" />
</launch>