<?xml version="1.0"?>
<!-- SESSION ID: 1530570127 -->
<launch>

  <arg name="enable_people_tracking" default="true" />
  <arg name="enable_pose" default="true" />
  <arg name="enable_object" default="true" />
  <!-- Load calibration results -->
  <include file="$(find opt_calibration)/launch/opt_calibration_results.launch"/>

  <group if="$(arg enable_people_tracking)">
  <!-- People tracking -->
  <include file="$(find tracking)/launch/tracker_network.launch"/>
  </group>

  <group if="$(arg enable_pose)">
  <!-- Skeleton tracking -->
  <include file="$(find tracking)/launch/skeleton_tracker_network.launch" />
  <!-- Pose recognition -->
  <include file="$(find pose_recognition)/launch/pose_recognition.launch" />
  </group>

  <group if="$(arg enable_object)">
  <!-- Object Tracking -->
  <node pkg="opt_gui" type="opt_gui" name="opt_gui" output="screen">
    <rosparam command="load" file="$(find opt_calibration)/conf/camera_network.yaml" />
  </node>
  <include file="$(find tracking)/launch/object_tracker_network.launch" />
  </group>

  <!-- UDP messaging -->
  <include file="$(find opt_utils)/launch/ros2udp_converter.launch"/>

  <!-- Visualization -->
  <include file="$(find opt_utils)/launch/multicamera_visualization.launch"/>
</launch>
