<launch>
	<env name="ROSCONSOLE_FORMAT" value="[${severity}] [${walltime}] [${node}]: ${message}"/>

	<group if="$(arg bag)">
		<node pkg="arcore"
					type="nomarker_position_estimator"
					name="nomarker_position_estimator"
					output="screen"
					args="">
					<remap from="arcore_camera" 					to="optar/arcore_camera_bag" />
					<remap from="kinect_camera" 					to="$(arg sensor_name)/qhd/image_mono_rect_bag" />
					<remap from="kinect_depth" 						to="$(arg sensor_name)/qhd/image_depth_rect_bag" />
					<remap from="kinect_camera_info" 				to="$(arg sensor_name)/qhd/camera_info_bag" />
					<remap from="tf"		 						to="tf_bag" /> 
					<remap from="tf_static" 						to="tf_static_bag" /> 
		</node>
	</group>
	<group unless="$(arg bag)">	
		<node pkg="arcore"
					type="nomarker_position_estimator"
					name="nomarker_position_estimator"
					output="screen"
					args="">
					<remap from="arcore_camera" 					to="optar/arcore_camera" />
					<remap from="kinect_camera" 					to="$(arg sensor_name)/qhd/image_mono_rect" />
					<remap from="kinect_depth" 						to="$(arg sensor_name)/qhd/image_depth_rect" />
					<remap from="kinect_camera_info" 				to="$(arg sensor_name)/qhd/camera_info" />
		</node>
	</group>

</launch>