<?xml version="1.0"?>
<!-- SESSION ID: 1541626465 -->
<launch>

  <!-- Calibration parameters -->
  <rosparam command="load" file="$(find opt_calibration)/conf/camera_poses.yaml" />

  <!-- Network parameters -->
  <arg name="num_sensors"   default="1" />

  <arg name="sensor_0_id"   default="kinect01" />
  <arg name="sensor_0_name" default="$(arg sensor_0_id)" />

  <!-- Launching calibration -->
  <node pkg="opt_calibration" type="opt_define_reference_frame" name="opt_define_reference_frame" output="screen">
    <rosparam command="load" file="$(find opt_calibration)/conf/camera_network.yaml" />

    <param name="num_sensors"           value="$(arg num_sensors)" />

    <param name="sensor_0/name"         value="/$(arg sensor_0_name)" />
    <param name="sensor_0/type"         value="pinhole_rgb" />
    <remap from="~sensor_0/image"       to="/$(arg sensor_0_name)/hd/image_color_rect" />
    <remap from="~sensor_0/camera_info" to="/$(arg sensor_0_name)/hd/camera_info" />

  </node>

</launch>
